.add-book-form {
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card img {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}
