<app-navbar></app-navbar>
  <mat-toolbar> My Top Rated Books </mat-toolbar>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let book of favoriteBooks">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h4>{{book.title}}</h4></mat-card-title>
        </mat-card-header>
        <br />
        <div class="md-unstyled-image">
          <img mat-card-image src="{{book.imageUrl}}" alt="{{book.title}}">
        </div>
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button mat-raised-button color="primary" class="detailsButton" [routerLink]="['/book/'+book.key]" skipLocationChange> <i class="material-icons">visibility</i> Book Details</button>
          <button mat-button mat-raised-button class="editButton" [routerLink]="['/edit-book/'+book.key]" skipLocationChange> <i class="material-icons">mode_edit</i> Edit Book</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-toolbar> Books Not Readed </mat-toolbar>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let book of UnReadBooks">
      <mat-card >
        <mat-card-header>
          <mat-card-title><h4>{{book.title}}</h4></mat-card-title>
        </mat-card-header>
        <br />
        <div class="md-unstyled-image">
          <img mat-card-image src="{{book.imageUrl}}" alt="{{book.title}}">
        </div>
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button mat-raised-button color="primary" class="detailsButton" [routerLink]="['/book/'+book.key]" skipLocationChange> <i class="material-icons">visibility</i> Book Details</button>
          <button mat-button mat-raised-button class="editButton" [routerLink]="['/edit-book/'+book.key]" skipLocationChange> <i class="material-icons">mode_edit</i> Edit Book</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


